@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* 
*BASE
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: oklch(98.4% 0.019 200.873);
}

/* 
*components
*/

/* navbar */
.navbar {
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10
  rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm 
  opacity-0 invisible transition-[opacity,transform,filter] md:static md:flex 
  md:items-center md:mt-0 md:opacity-100 md:blur-none md:visible
   md:scale-100 backdrop-blur-2xl;
}

.navbar.active {
  @apply opacity-100 scale-100 blur-none visible;
}

.nav-link {
  @apply block px-4 py-2 items-center h-9 text-base font-medium tracking-wide text-zinc-700 rounded-2xl
  hover:bg-sky-100 transition-colors duration-200;
}

.nav-link .active {
  @apply text-zinc-900 duration-500;
}

.nav-link .active-box {
  @apply absolute  bg-zinc-50 rounded-lg -z-10 transition-[top,left] duration-500;
}
